<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Crafting Recipe Guide</title>
    <link rel="stylesheet" href="../../css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
            <img src="../../images/minecraft-logo.jpg">
            </div>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <h1 class="navbar-item">
                <strong>Crafting Recipe Guide</strong>
                </h1>
                <span class="navbar-item">
                    <i class="icon, fas fa-home"></i>
                    <a href="/" class="navbar-item">
                    Home
                    </a>
                </span>
                <span class="navbar-item">
                    <i class="icon, fas fa-envelope-open-text"></i>
                    <a href="/api/comments" class="navbar-item">
                    Comments
                    </a>
                </span>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/api/users/signup" class="button is-primary">
                    <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/api/users/login">Log In
                    </a>
                    <a class="button is-light" href="/login">Log In with Google
                        <div class="navbar-item">
                        <img src="../../images/google-logo.png">
                        </div>
                    </a>
                    <button id="log-out" class="button is-light">Log Out
                        <div class="navbar-item">
                        <img src="../../images/nether-portal.gif">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <main>
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
         <p>
        <strong>Recipe Guide</strong> by <a href="https://github.com/Corey-Carpenter/minecraft-crafting-recipe-guide">Corey Carpenter, Justin Sanchez, Sylvestre Corneille, and Michael O'Sullivan</a>.
        <a href="http://opensource.org/licenses/mit-license.php">MIT Licensed</a>.
        </p>
        </div>
    </footer>
</body>

<script type="application/javascript" src='/js/log-out.js'></script>

</html>