<div class="card">
  <div class="card-content">
    <div class="media-content">
          <p class="title is-3">Log In</p>
    </div>
    <div class="card-content">
    <form id="login-form">
    <div class="field">
        <p class="control has-icons-left">
        <input id="username" class="input" type="text" placeholder="Username">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
        <input id="password" class="input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
    </div>
    <div class="field">
        <p class="control">
        <button class="button is-primary">
        Log in
        </button>
        </p>
    </div>
    </form>
    </div>
  </div>
</div>

<script type="application/javascript" src='/js/login.js'></script>