<!DOCTYPE html>
<html>
<head>
  <title>Comment</title>
</head>
<body>
  <h1>{{Comment.text}}</h1>
  <h1 style="color: red;">You got redirected here but Michael needs to fix his handlebars syntax!</h1>
  <p>{{{creeper_emoji}}}</p>
</body>
</html>