<article class="card">
        <div class="card-content">
          {{#each allComments as |comment|}}
          <div class="card-content">
            <p>
              <strong>Previous Comment</strong>
              <br>
              {{comment.text}}
              <br>
              <small>ID: {{comment.id}} {{comment.createdAt}}</small>
            </p>
          </div>
          {{/each}}
        </div>
</article>