<!-- views/images.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <title>Images</title>
</head>
<body>
  <h1>Image #1</h1>
  {{#each images}}
    <img src="https://res.cloudinary.com/ddnwvsd9o/image/upload/v1687837128/gc64wfdwvlbzjdgjzib6.gif" alt="Image">
  {{/each}}
  <form class = "commentForm">
  <label for="commentText">Comment:</label><br>
  <input type="text" name="commentText" placeholder="Enter comment here!"><br>
  <input type="submit" value="Submit">
  </form>
  <h1>Image #2</h1>
  {{#each images}}
    <img src="https://res.cloudinary.com/ddnwvsd9o/image/upload/v1687837129/c2qsmcikvd4aojzjy6bi.gif" alt="Image2">
  {{/each}}
  <h1>TNT Crafting Guide</h1>
  {{#each images}} 
  <img src="https://res.cloudinary.com/ddnwvsd9o/image/upload/v1687995895/qcsyg0bbpiaaclxytcrl.png" alt="Image3">
  {{/each}}
</body>
</html>
