<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="654093505015-s7a77mj4lrj6k9dafj4nkgcep2vld4jn.apps.googleusercontent.com">
    <meta http-equiv="Content-Security-Policy-Report-Only" content="script-src https://accounts.google.com/gsi/client; frame-src https://accounts.google.com/gsi/; connect-src https://accounts.google.com/gsi/;">
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <title>Login</title>
</head>
<body>

<div class="card">
    <div class="card-content">
        <div class="g-signin2" 
            data-onsuccess="onSignIn"
            data-scope="https://www.googleapis.com/auth/plus.login"
            data-accesstype="offline"
            data-redirecturi="https://minecraft-crafting-recipes-b8ba8c8afeec.herokuapp.com/">
        </div>
        <div class="card-content">
        <button class="button is-light"><a href="#" style="color: black;"; onclick="signOut();">Sign out</a>
        </button>
        </div>
   </div>
</div>

    <!--sign out section -->
    <script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        if (auth2.isSignedIn.get()) {
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        } else {
            console.log('User is already signed out.');
        }
    }
    </script>



    <script>
    function onSignIn(googleUser) {
        // var profile = googleUser.getBasicProfile();
        // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        // console.log('Name: ' + profile.getName());
        // console.log('Image URL: ' + profile.getImageUrl());
        // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        var id_token = googleUser.getAuthResponse().id_token;
        // console.log(id_token);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                signOut();
                location.assign('/profile')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));
      }
    </script>

    <!-- Script to potentially pull google user data -->
    <script>
        function getInfo() {
            gapi.auth2.init();
            if (auth2.isSignedIn.get()) {
            var profile = auth2.currentUser.get().getBasicProfile();
                console.log('ID: ' + profile.getId());
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
        }
        else {
            console.log("No user signed in.");
        }
        };
    </script>
    
</body>
</html>