<div class="card">
        <div class="card-image">
          <figure class="image img">
            <img src="{{ imageURL }}"  alt="Crafting Recipe image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ item }}</p>
            </div>
          </div>
        </div>
      </div>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>FIRSTNAME LASTNAME</strong>
              <br>
              This is a comment written by firstname lastname.
              <br>
              <small>time</small>
            </p>
          </div>
        </div>
</div>